# Build artifacts
*.o
*.mod
*.a
*.out

# Data & Log files
dat/*.dat
!dat/init_param.dat
!dat/energy.dat
mom/
md_mrx/psd/
*.log
run_mrx.sh.*
raw_particle_data/
helloworld.sh.*
final_plots/
bremsstrahlung_plots/
bremsstrahlung_maxwell_plots/
mean_energy_plots/
photon_plots/
electron_energy_plots/
heating_plots_final/
heating_plots_kappaetc/
heating_plots_pressureetc/
mirror_analysis/
gca_single_plots/
energization_plots_final/
particle_gca_density_weighted_plots/
gca_bulk_plots/
gca_single_times_density_weighted_plots/
