# Build artifacts
*.o
*.mod
*.a
*.out

# Data & Log files
dat/*.dat
!dat/init_param.dat
!dat/energy.dat
mom/
md_mrx/psd/
*.log
run_mrx.sh.*
raw_particle_data/
helloworld.sh.*
final_plots/
bremsstrahlung_plots_detailed/
heating_plots/