# Build artifacts
*.o
*.mod
*.a
*.out

# Data & Log files
dat/*.dat
!dat/init_param.dat
!dat/energy.dat
mom/
md_mrx/psd/
final_plots/
*.log
run_mrx.sh.*
raw_particle_data/
helloworld.sh.*
extracted_data/
extracted_psd_data_moments/